.charts {
  display: flex;
  flex-direction: row;
}

.data-chart {
  width: calc(40vw - 100px);
  margin: 5vw;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px orange;
  border: 3px solid orange;
  background: rgb(63, 92, 84);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header span.pink {
  /* color: rgb(63, 92, 84); */
  font-weight: bold;
  font-size: 96px;
  color: lightgreen;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.header span.red {
  /* color: rgb(63, 92, 84); */
  font-size: 32px;
  background: red;
  padding: 30px;
  border-radius: 1000px;
  color: #ffffff;
  font-weight: bold;
}
